.footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}
.button {
  border: 2px solid rgb(44, 194, 15);
  border-radius: 30%;
  width: 100px;
  height: 60px;
  background-color: hwb(136 50% 0%);
  color: blueviolet;
  cursor: pointer;
}
.button--active {
  width: 90px;
  height: 100px;
}

.information {
  background-color: aquamarine;
  border-radius: 10%;
}
.information--paragraf {
  display: none;
}
.information--paragraf--active {
  display: block;
  text-decoration: underline;
}
